<section class="button">
  <h2>Button</h2>
  <fih-button [processing]="button2Processing">
    <button #button (click)="buttonProcessing = !buttonProcessing">Button 1</button>
  </fih-button>

  <fih-button [processing]="buttonProcessing">
    <button #button (click)="button2Processing = !button2Processing">Button 2</button>
  </fih-button>
</section>

<section class="loading-indicator">
  <h2>Loading indicator</h2>
  <fih-loading-indicator size="15"></fih-loading-indicator>
</section>

<section class="tooltip">
  <h2>Tooltip</h2>
  <fih-tooltip id="tooltip-demo" arrowPosition="top" text="Hello, I'm tooltip">
    <span style="cursor: pointer">Hover me for tooltip!</span>
  </fih-tooltip>
</section>

<section class="icon-input">
  <h2>Icon input</h2>
  <fih-icon-input iconPath="/assets/svgs/spyglass.svg" (clicked)="alert('Clicked the icon input!')">
    <input />
  </fih-icon-input>
</section>
