:host {
  section {
    padding: 10px;

    &.button {
      fih-button:nth-child(odd) {
        margin: 0 10px;
      }
    }

    &.loading-indicator {
      //
    }

    &.tooltip {
      //
    }

    &.icon-input {
      fih-icon-input {
        input {
          height: 25px;
        }
      }
    }
  }
}
