<section>
  <fih-loading-indicator size="15"></fih-loading-indicator>
</section>

<section>
  <fih-button [processing]="test2">
    <button #button (click)="test = !test">Button 1</button>
  </fih-button>

  <fih-button [processing]="test" [loadingIndicatorColor]="">
    <button #button (click)="test2 = !test2">Button 2</button>
  </fih-button>
</section>

<section>
  <fih-tooltip id="tooltip-demo" arrowPosition="left" text="Hello, I'm tooltip">
    <span style="cursor: pointer">Hover me for tooltip!</span>
  </fih-tooltip>
</section>
