/* You can add global styles to this file, and also import other style files */
.btn {
  border: none;
  border-radius: .375rem;
  color: #ffffff;
  display: block;
  font: 400 13.3333px Arial;
  outline: none;
  padding: 20px;
  text-decoration: none;

  &:hover {
    color: #ffffff;
  }

  // Types
  &.btn--block {
    width: 100%;
  }

  // Color
  &.btn--green {
    background-color: #3eaf7c;

    &:hover {
      cursor: pointer;
      background-color: darken(#3eaf7c, 10);
    }
  }

  &.btn--red {
    background-color: #fd3a52;

    &:hover {
      cursor: pointer;
      background-color: darken(#fd3a52, 10);
    }
  }
}
